<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="Chrome"></add>
		<add key="env" value="AutoInstance"/>
		<add key="AutoInstanceURL" value="https://auto.sharpcloudteam.com/html/#/signin"/>
		<add key="BetaInstanceURL" value="https://app.sharpcloudteam.com/html-beta/#/signin"/>
		<add key="BlobPath" value="/var/lib/jenkins/workspace/Candidate Management/Output/index.html"/>
		<add key="Blob_URL" value ="https://jenkinsserverreports.blob.core.windows.net/reports/"/>
		<add key="From_Email" value="yasasvi@bistecglobal.com"/>
		<add key="To_Email" value="sachith@bistecglobal.com"/>
		<add key="To_Email_1" value="aloka@bistecglobal.com"/>
		<add key="To_Email_2" value="aloka@bistecglobal.com"/>
		<add key="headless" value="No"/>
	</appSettings>
</configuration>