<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="Chrome"></add>
		<add key="env" value="AutoInstance"/>
		<add key="AutoInstanceURL" value="https://auto.sharpcloudteam.com/html/#/signin"/>
		<add key="BetaInstanceURL" value="https://app.sharpcloudteam.com/html-beta/#/signin"/>
		<add key="BlobPath" value="/var/lib/jenkins/workspace/Candidate Management/Output/index.html"/>
		<add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jenkinsserverreports;AccountKey=uQozPDDS9wqKPbIwPJNWdviaPzzyFhc8gzrrZpJnokqU44GjAtgo77g2dwMe7s+7TTNs1kysikVj+AStz2MiJA==;EndpointSuffix=core.windows.net"/>
		<add key="Blob_URL" value ="https://jenkinsserverreports.blob.core.windows.net/reports/"/>
		<add key="From_Email" value="yasasvi@bistecglobal.com"/>
		<add key="To_Email" value="aloka@bistecglobal.com"/>
		<add key="To_Email_1" value="aloka@bistecglobal.com"/>
		<add key="To_Email_2" value="aloka@bistecglobal.com"/>
		<add key="Email_API_Key" value="c9d9d6c8bc85bc0b95be031c3e81e9ec"/>
		<add key="Email_Secret" value="1e892730d123b01a52f8913562bab753"/>
		<add key="headless" value="No"/>
	</appSettings>
</configuration>